.background-color {
    -fx-background-color: #ff7c00;
}

.titolo {
    -fx-font-size: 55px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.field-testo {
    -fx-background-color: transparent;

    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-border-color: rgba(255, 255, 255, 0.8);

    -fx-prompt-text-fill: rgba(255, 255, 255, 0.6);

    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.field-testo:visited {
    -fx-border-color: white;
}

.bottone-sign-up {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #8f00ff, #ff1e1e);
    -fx-background-radius: 25px;

    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.bottone-sign-up:hover {
    -fx-font-size: 16px;
    -fx-text-fill: #white;
}

.testo-normale {
    -fx-font-size: 15px;
    -fx-text-fill: rgba(255, 255, 255, 0.6);
    -fx-font-weight: bold;
}

.check-box {
    -fx-text-fill: white;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-radius:3px;
}


.check-box:selected .mark {
    -fx-background-color: orange;

}

.check-box:selected .box {
    -fx-background-color: white;
}

.combo-box .context-menu { -fx-background-color: #ffffff; }
.combo-box .menu-item:focused { -fx-background-color: orange; }
.combo-box .menu-item > .label { -fx-text-fill: white; }
.combo-box .menu-item:focused > .label { -fx-text-fill: #ff7c00; }
.combo-box {
    -fx-background-color: #ffffff;
    -fx-mark-color: orange; // arrow color
}
.combo-box .label { -fx-text-fill: white; }
