.background-color {
    -fx-background-color: #ff7c00;
}

.titolo {
    -fx-font-size: 55px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.field-testo {
    -fx-background-color: transparent;

    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-border-color: rgba(255, 255, 255, 0.8);

    -fx-prompt-text-fill: rgba(255, 255, 255, 0.6);

    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.field-testo:visited {
    -fx-border-color: white;
}

.bottone-sign-up {
    -fx-background-color: #dedede;
    -fx-background-radius: 25px;

    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.bottone-sign-up:hover {
    -fx-text-fill: #ff5500;
}

.testo-normale {
    -fx-font-size: 15px;
    -fx-text-fill: rgba(255, 255, 255, 0.6);
    -fx-font-weight: bold;
}

.check-box {
    -fx-text-fill: white;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-radius:3px;
}


.check-box:selected .mark {
    -fx-background-color: orange;

}

.check-box:selected .box {
    -fx-background-color: white;
}

